/* ==========================================================================
   Helper classes
   ========================================================================== */

.iconbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.iconbtn:hover {
  cursor: pointer;
}
.round {
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  padding: 10px;
  background-color: #D3D3D3;
  border-radius: 5px;
  transform: translateX(50px);
  transition: all 0.15s ease-out;
}
.tooltip.left {
  right: 0px;
}
.tooltip.visible {
  transform: translateX(0px);
}

/* Arrow */
.tooltip::after {
  position: absolute;
  content: ' ';
  right: -8px;
  top: 11px;

  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left: 15px solid #d3d3d3;
}


.soft-title {
  color: #63cdf5;
}
.soft-bg {
  background-color: #f3f3f3;
}
.gray-bg {
  background-color: #b3b3b3;
  color: #3b3b3b;
}
.great {}
.attention {
  background-color: #fcb040;
  color: #fff;
}



.unset {
    all: unset;
}
.hidden {
    visibility: hidden;
    opacity: 0;
}
.visible {
  visibility: visible;
  opacity: 1.0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

